<html>
<head>
    <html>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'paulaapp/css/base.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Paulished</title>

</head>

<body>
<div class="container">
    <div class="header">
        <h7>Paulished</h7>
    </div>
    <div class="col-12 text-center">
         <a id = "to_do_home" href="{% url 'to-do-list' %}" class="btn btn-outline-dark btn-lg">LET'S DO THIS</a>
         <a id = "prospect_btn" href="{% url 'prospect-list' %}" class="btn btn-outline-dark btn-lg">PROSPECTS</a>
    </div>
{#    <div class="col-12 text-center">#}
{#         <a id = "prospect_btn" href="{% url 'prospect-list' %}" class="btn btn-outline-dark btn-lg">PROSPECTS</a>#}
{#    </div>#}
</div>






</body>
</html>