<html>
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'paulaapp/css/base.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <script src="{% static 'paulaapp/js/fitty.min.js' %}" ></script>
    <title>Paulished Prospects</title>
</head>

<body>
    <div class="container">
        <div class="header">
          <h1><a class="paulished-link" href="{% url 'home' %}">Paulished</a></h1>
            <h2>KNOLLS VISITORS</h2>
            <div class="container">
                <form method="GET" action="" id="search form">
                    <div class="row">
                        <a id = "add_button" href="add/" class="btn btn-outline-dark col-auto nav-button">ADD PROSPECT</a>
                        <div class="input-group col justify-content-center">
                            <input class="form-control col-4" id="search box" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search"/>
                            <button class="search_submit btn btn-outline-dark" type="submit">Search</button>
                        </div>
                        <a id = "to_do" href="to-do/" class="btn btn-outline-dark col-auto ml-auto nav-button">TO-DO</a>
                    </div>
                </form>
            </div>
        </div>



        <ul>
         <div class="row">
        {% for prospect in object_list %}

                <div class="col-4">

                        <div class="card border-{{ prospect.priority }}">
                            <div class="plate">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ prospect.first_name }} {{ prospect.last_name }}
                                    </h5>
                                    <p class="card-text">
                                        Most recent visit:<br>
                                        {{ prospect.visits.latest.visit_date|date:'m/d/Y' }}
                                    </p>
                                    <a href="{% url 'prospect-edit' pk=prospect.id %}" class="btn btn-outline-danger btm-sm float-left" role="button">Edit</a>
                                    <a href="{% url 'prospect-details' pk=prospect.id %}" class="btn btn-outline-primary btm-sm float-right">Flip</a>
                                </div>
                            </div>
                        </div>
                </div>

        {#   <li><a href="{{  prospect.id }}">{{ prospect.first_name }} {{ prospect.last_name }}, {{ prospect.prospect_email }}, {{ prospect.prospect_phone }}</li>#}
        {% endfor %}
         </div>
        </ul>

    </div>

<script>
    fitty('h5.card-title', {
        minSize: 24,
        multiLine: true,

    });
</script>
</body>

</html>