<html>
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'paulaapp/css/base.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Edit Prospect</title>
</head>


<body>
{# Display a form #}
<div class="container">
    <div class="header">
        <h6>EDIT PROSPECT</h6>
        <form action="" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form row align-items-center inline">
{#                <div class="form-group col-auto">#}
{#                    <label>First name</label>#}
{#                    {{ form.first_name }}#}
{#                </div>#}
{##}
{#                <div class="form-group col-auto">#}
{#                    <label>Last name</label>#}
{#                    {{ form.last_name }}#}
{#                </div>#}
            </div>
            Visits
            <br><br><fieldset class="col">
                    {{ visits_form.management_form }}
                    {{ visits_form.non_form_errors }}
                    {% for fs in visits_form %}
                        {{ fs.id }}
                        <div class="form-row align-items-center inline">
                            <div class="form-group col-auto">
                                {{ fs.visit_date.errors }}
                                {{ fs.visit_date }}
                            </div>
                            <div class="form-group col-auto">
                                {{ fs.visit_date.errors }}
                                {{ fs.visit_notes }}
                            </div>
                        </div>
                    {% endfor %}
            </fieldset>

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                <a href="{% url 'prospect-delete' pk=prospect.id %}" class="btn btn-danger" role="button">Delete Prospect</a>
            {% endbuttons %}
        </form>
    </div>
</div>
</body>

</html>