<html>
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'paulaapp/css/base.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Add Prospect</title>
</head>


<body>
{# Display a form #}
    <div class="container">
            <div class="header">
              <h6>ADD PROSPECT</h6>
                <form action="" method="post" class="form" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      Add
                    </button>
                  {% endbuttons %}
                 </form>
            </div>
    </div>
</body>

</html>